.artist__pic {
    border-radius: 100%;
    vertical-align: middle;
    height: 50px;
    min-width: 50px;
    object-fit: cover;
}

.artist__info {
    display: flex;
    align-items: center;
    margin: 0px 20px 20px 0px;
}

.artist__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.artist__pic__large {
    width: 200px;
    height: 200px;
    max-width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 100%;
}

.artist__item {
    display: inline-grid;
}

.artist__title {
    font-weight: bold;
}

.genre {
    color: rgb(170, 170, 170);
    font-weight: bold;
    margin: 5px 0 40px 0;
}

.artist__tracks {
    margin-left: 60px;
    width: 100%;
}

.artist__img {
    text-align: center
}

@media screen and (max-width: 576px) {
    .artist__pic {
        height: 40px;
        min-width: 40px
    }

    .artist__pic__large {
        width: 150px;
        height: 150px;
    }

    .artist__container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .time__range {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px
    }

    .artist__tracks {
        margin: 0 auto;
    }

    .artist__tracks > h2, h3 {
        text-align: center;
    }

    .cover__img {
        width: 70%;
        margin: 0 auto
    }

    .cover__img > img {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .artist__pic {
        height: 40px;
        min-width: 40px
    }

    .artist__pic__large {
        width: 150px;
        height: 150px;
    }

    .artist__container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .time__range {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px
    }

    .artist__tracks {
        margin: 0 auto;
    }

    .artist__tracks > h2, h3 {
        text-align: center;
    }

    .cover__img {
        width: 70%;
        margin: 0 auto
    }

    .cover__img > img {
        width: 100%;
        max-width: 100%;
    }
}