.artist__pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    vertical-align: middle;
}

.artist__info {
    display: flex;
    align-items: center;
    margin: 0px 20px 20px 0px;
}

.artist__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.artist__pic__large {
    width: 200px;
    height: 200px;
    max-width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 100%;
}

.artist__item {
    display: inline-grid;
}

.artist__title {
    font-weight: bold;
}

.genre {
    color: rgb(170, 170, 170);
    font-weight: bold;
    margin-bottom: 40px;
}

.artist__tracks {
    margin-left: 60px;
    width: 100%;
}