.topten {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  color: white;
}

.list__container {
    display: flex;
    flex-grow: 1;
    width: 80%;
}

.user__info {
    display: flex;
    margin-bottom: 20px;
    flex: 1
}

.user__stats {
    margin: 0 20px 0px 20px;
    text-align: center;
}

.user__stats h1 {
  margin: 5px;
  color: #7ad768
}

.heading2 {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.heading2 > h2 {
  display: flex;
  flex: 1;
}

.avatar {
  max-width: 200px;
  margin-top: 40px;
  object-fit: cover;
  border-radius: 100%;
}

@media screen and (max-width: 576px) {
  .list__container {
    display: block;
    width: 90%;
  }

  .topten {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .list__container {
    display: block;
    width: 90%;
  }

  .topten {
    padding: 0;
  }
}
