.user {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    min-height: 100vh;
    color: white;
    /* background: linear-gradient(transparent, rgb(39, 39, 39)); */
    background-color: rgb(27, 27, 27);
    align-items: center;
  }

  .user__column {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    min-height: 100vh;
    color: white;
    /* background: linear-gradient(transparent, rgb(39, 39, 39)); */
    background-color: rgb(27, 27, 27);
  }  
  
.player_body {
    display: flex;
    flex-grow: 1;
    width: 80%;
}

.user__info {
    display: flex;
    flex: 1
}

.user__stats {
    margin: 0 20px 0px 20px;
    text-align: center;
}

.more {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 11px 24px;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
    text-align: center;
    white-space: nowrap;
    margin-left: 15px;
    font-family: 'Lato';
    background: transparent;
}

.more:hover, .more__active {
  color: #282c34;
  background: white
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}