@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(27, 27, 27);
}

.app {
  display: flex;
  font-family: 'Heebo', sans-serif;
  height: 100%;
}

a {
  text-decoration: none !important;
  color: white;
  margin: 0
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  color: white;   
  align-items: center; 
}  

.main__container {
  width: 70%;
  align-self: center;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.flex__container {
  width: 70%;
  align-self: center;
  display: flex;
  margin-top: 40px;
}

.more {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding: 12px 26px;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  text-align: center;
  white-space: nowrap;
  margin-left: 10px;
  font-family: 'Heebo';
  background: transparent;
}

.more:hover, .more__active {
  color: #282c34;
  background: white;
  outline: none;
}

.play {
  display: inline;
  padding: 10px 13px;
  background: #7ad768;
  border: none;
  color:white;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  text-align: center;
  white-space: nowrap;
  margin-left: 15px;
  font-family: 'Heebo';
}

.play:hover {
  color: rgb(64, 64, 64);
  background: white;
}

.spotify {
  margin: 20px 0 !important
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .main {
    padding: 0;
    font-size: 14px;
    margin-bottom: 80px;
  }

  .main__container {
    width: 90%;
  }

  .grid__container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .flex__container {
      width: 90%;
      display: block;
  }

  .more {
    font-size: 10px;
    padding: 10px 20px;
    margin: 0;
    justify-content: space-around;
    display: flex;
  }

  .play {
      padding: 8px 11px;
  }

  .heading {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 0;
    font-size: 14px;
    margin-bottom: 80px;
  }

  .main__container {
      width: 90%;
  }

  .grid__container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .flex__container {
      width: 90%;
      display: block;
  }

  .more {
    font-size: 10px;
    padding: 10px 20px;
    margin: 0;
    width: 32%;
    justify-content: space-around;
    display: flex;
  }

  .play {
      padding: 8px 11px;
  }

  .heading {
    display: block;
  }
}